<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create person</title>
</head>
<body>
<form action="#" th:action="@{/person-create}" th:object="${person}" method="post">
    <label for="Name">name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <label for="Age">Age</label>
    <input type="text" th:field="*{age}" id="age" placeholder="Age">
    <label for="Email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <input type="submit" value="Create User">
</form>
</body>
</html>